:root {
    --bg: #242424;
    --fg: #FDF6F6;
    --accent: #636262;
}


* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background: var(--bg);
    color: var(--fg);
    border-color: var(--accent);
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
}

thead {
    position: sticky;
    top: 0;
    background: var(--bg);
    z-index: 1;
    will-change: transform;
}

thead::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: var(--accent);
}

th,
td {
    border: 0;
    border-bottom: 1px solid var(--accent);
    border-right: 1px solid var(--accent);
    padding: .4rem;
    text-align: left;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
}

button {
    border: none;
    border-radius: .2em;
    padding: .4em .8em;
    font-weight: 700;
}

#container {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

#reset-form-button {
    background: #ff3333;
    color: white;
}

#search-form {
    margin: auto 0;
    margin-bottom: 2rem;
}

#data-table {
    width: fit-content;
}

#table-wrapper {
    height: 700px;
    overflow: auto;
}

#observer-anchor {
    /* height: 80px; */
    background: red;
}


.inputs-group {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: .5em;
}

.input-block {
    display: grid;
}

.id-col {
    width: 4rem;
}

.name-col {
    width: 40rem;
}

.ticket-badge {
    font-size: .8rem;
    font-weight: 700;
}
